.services {
  padding: 120px 0 80px;
  max-width: 900px;
  margin: 0 auto;

  h2 {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
  }

  & .items {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 0;

    & .item {
      padding: 60px 60px 60px 88px;
      max-width: 50%;
      flex-basis: 50%;
      position: relative;

      & > div {
        position: relative;

        & > svg {
          font-size: 32px;
          color: #ac6bcd;
          position: absolute;
          left: -56px;
          top: -7px;
        }

        h4 {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 14px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    & .feedback {
      box-shadow: inset 0 0 0 1px #ccc;
      position: relative;
      padding: 60px;
      padding-left: 88px;
      max-width: 50%;
      flex-basis: 50%;

      h4 {
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 24px;
      }

      button {
        font-size: 18px;
        color: #ac6bcd;
        border-bottom: 2px #ac6bcd solid;
        cursor: pointer;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 82px;
        width: 1px;
        background: #e1e1e1;
        transform: translateY(-100%);
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 82px;
        background: #e1e1e1;
        transform: translateX(-100%);
      }
    }
  }
}
