@import './reset';

$black: #000;

#root,
body,
html {
  height: 100%;
}

#modal-root {
  position: relative;
  z-index: 1050;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $black;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $black;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
  color: $black;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $black;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $black;
}

button {
  background: none;
  font-family: 'Rubik', sans-serif;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;

  &:focus,
  &:active {
    outline: none;
  }
}

a {
  transition: all 0.1 ease 0s;
  color: initial;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  font-family: 'Montserrat', serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  transition: all 0.1s;
}
