.range {
  margin-bottom: 40px;

  & .items {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    strong {
      font-size: 24px;
      font-weight: 500;
    }

    span {
      font-weight: bold;
      font-size: 24px;
    }
  }
}
