.company {
  padding: 80px 0 60px;
  background: linear-gradient(to right, #ffffff, #f1f0f0);

  h2 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 40px;
  }

  & .items {
    display: flex;
  }

  & .content {
    padding-right: 40px;
    flex-basis: 55%;
    max-width: 55%;

    p {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 24px;
    }

    button {
      margin-top: 80px;
      min-width: 260px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 8px;
      padding-bottom: 12px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      transition: all 0.1s ease;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ac6bcd;
        width: 100%;
      }

      span {
        color: #ac6bcd;
        text-transform: uppercase;
      }

      // &:hover {
      //   background: #2196f3;
      //   color: #fff;
      // }
    }
  }

  & .bg {
    flex-basis: 45%;
    max-width: 45%;
    min-height: 400px;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
