.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  // background: #ccc;
  padding: 12px 0 18px;
  // background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;

  &:global(._moved) {
    background: rgba(255, 255, 255, 1);
    padding: 12px 0 18px;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.06);

    & .top {
      padding-bottom: 12px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  & .top {
    padding-bottom: 24px;
    transition: all 0.3s;

    & :global(.row) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .logo {
      min-height: 36px;
      width: 136px;
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
    }

    & .feedback {
      display: flex;
      align-items: center;

      & > a {
        font-size: 20px;
        font-weight: 500;
        margin-right: 30px;
        color: #000;
        text-decoration: none;
      }

      & > button {
        border-radius: 5px;
        border: 2px #ac6bcd solid;
        background: transparent;
        // background: #ac6bcd;
        height: 40px;
        min-width: 140px;
        padding: 0 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ac6bcd;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: all 0.1s ease;

        &:hover {
          background: #ac6bcd;
          color: #fff;
        }
      }
    }
  }

  & .nav {
    display: flex;
    align-items: center;

    & > a {
      margin-right: 24px;
      color: #000;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 6px;
      border-bottom: 2px transparent solid;
      transition: all 0.2s ease;

      &:hover {
        border-color: #ac6bcd;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
