.footer {
  padding: 60px 0 80px;
  background: #222;

  .coop {
    padding-top: 40px;
    border-top: 1px #fff solid;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 40px;
  }

  .items {
    display: flex;
    margin: 0 -15px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 14px;

        a {
          color: #fff;
          font-size: 16px;
          text-decoration: none;
          font-weight: 500;
        }

        &:first-child {
          font-weight: bold;
          font-size: 18px;
          color: #fff;
        }
      }
    }
  }

  .col {
    padding: 0 15px;
    flex-basis: 25%;
    max-width: 25%;
  }

  .contacts {
    margin-top: 40px;

    a {
      display: block;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      margin-bottom: 14px;
      transition: all 0.1s ease;
      font-weight: 500;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
