.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  // padding-top: 160px;
  // padding-bottom: 80px;
  // background: linear-gradient(to right, #e0eafc, #cfdef3);
  background: linear-gradient(to right, #ffffff, #f1f0f0);
  height: calc(100vh - 155px);
  min-height: 727px;
  position: relative;
  display: flex;
  align-items: center;

  & .customSlider {
    padding-top: 160px;
    padding-bottom: 80px;

    & :global(.slick-slide) {
      h3,
      p,
      button {
        animation-fill-mode: both;
        animation-name: none;
        visibility: hidden;
      }

      &:global(.slick-active) {
        & .content {
          h3 {
            animation-duration: 0.5s;
            animation-delay: 0.3s;
            animation-name: fadeInLeft;
            visibility: visible;
          }
          p {
            animation-duration: 0.5s;
            animation-delay: 0.6s;
            animation-name: fadeInLeft;
            visibility: visible;
          }

          button {
            animation-duration: 0.5s;
            animation-delay: 0.9s;
            animation-name: fadeInUp;
            visibility: visible;
          }
        }
      }
    }
  }

  & :global(.slick-dots) {
    left: 0;
    bottom: 10px;

    & li {
      width: 32px;
      height: 12px;
      margin: 0 6px;

      &:global(.slick-active) {
        & button {
          background: #7b7777;
          border: 1px #7b7777 solid;
        }
      }

      & button {
        width: 32px;
        height: 12px;
        padding: 0;
        border-radius: 2px;
        border: 1px rgb(41, 50, 51) solid;
        transition: all 0.1s ease;

        &:before {
          display: none;
        }
      }
    }
  }

  & .item {
    position: relative;
    // padding-bottom: 24px;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px 0;

    & .bg {
      margin-top: 100px;
      height: 240px;
      max-width: 40%;
      flex-basis: 40%;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: -12px;
        left: -12px;
        width: 100%;
        height: 100%;
        background: #ac6bcd;
        z-index: -1;
      }
    }

    & .content {
      max-width: 60%;
      flex-basis: 60%;
      margin-bottom: 80px;

      h3 {
        font-size: 48px;
        font-weight: 600;
        line-height: 1.3;
        position: relative;
        margin-bottom: 24px;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        max-width: 80%;
      }

      ul {
        padding: 0;
        margin: 0 0 24px;
        list-style: none;

        li {
          font-size: 24px;
          line-height: 1.2;
          margin-bottom: 14px;
        }
      }

      button {
        margin-top: 60px;
        min-width: 260px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: all 0.1s ease;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          background: #ac6bcd;
          width: 100%;
        }

        span {
          color: #ac6bcd;
          text-transform: uppercase;
        }

        // &:hover {
        //   background: #2196f3;
        //   color: #fff;
        // }
      }
    }
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
