.calc {
  padding: 100px 0 120px;

  h2 {
    margin-bottom: 80px;
    font-size: 40px;
    margin-top: 0;
  }

  & .row {
    display: flex;
    margin: 0 -10px;

    & > div {
      &:first-child {
        max-width: 60%;
        flex: 0 0 60%;
        padding: 0 10px;
      }

      &:last-child {
        max-width: 40%;
        flex: 0 0 40%;
        padding: 0 10px;
      }
    }
  }

  & .mainCalc {
    padding-right: 40px;
  }

  & .result {
    box-shadow: 0 7px 16px 0 rgba(20, 18, 33, 0.16);
    border-radius: 2px;

    padding: 42px 12px 37px;
    text-align: center;
    background: #fff;

    h3 {
      font-size: 32px;
      line-height: 1.4;
      font-weight: 500;
      margin: 0 0 32px;
    }

    & > button {
      border-radius: 5px;
      border: 2px #ac6bcd solid;
      background: #ac6bcd;
      height: 64px;
      text-transform: uppercase;

      min-width: 360px;
      margin: 43px auto 0;
      color: #fff;
      padding: 0 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      border: none;
      transition: all 0.1s ease;

      &:hover {
        opacity: 0.9;
      }
    }

    & > strong,
    & > div {
      margin-bottom: 32px;
      display: block;

      span {
        display: block;
        font-size: 18px;
        line-height: 1.4;

        &:first-child {
          font-size: 38px;
          line-height: 1.4;
        }
      }
    }
  }
}
