.listing {
  padding: 60px 0 93px;
  background: linear-gradient(to right, #ffffff, #f1f0f0);

  h2 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 80px;
  }

  & .items {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -25px 0;
  }

  & .col {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 25px;
  }

  & .item {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      & .bg {
        opacity: 0.8;
      }

      & .content {
        border: 1px #ccc solid;
      }
    }

    & .bg {
      min-height: 240px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #ccc;
    }

    & .content {
      padding: 24px 18px;
      border: 1px transparent solid;

      h3 {
        font-size: 22px;
        margin-bottom: 24px;
      }

      p {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
}
