.feedback {
  // background: rgb(247, 249, 253);
  padding: 120px 0;

  & > div {
    max-width: 640px;
    margin: 0 auto;

    h2 {
      font-size: 28px;
      line-height: 1.4;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      line-height: 1.3;
      color: rgba(0, 0, 0, 0.3);
      margin-bottom: 40px;
    }

    & > button {
      border-radius: 5px;
      border: 2px #ac6bcd solid;
      background: transparent;
      // background: #ac6bcd;
      height: 40px;
      min-width: 140px;
      padding: 0 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ac6bcd;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        background: #ac6bcd;
        color: #fff;
      }
    }
  }
}
